<template>
    <div class="bg-list-food-info">
        <div class="photo"><img :src="photoName" :alt="foodName" ></div>
        <div class="tittle">{{ foodName }}</div>
        <div class="price">가격 : {{ foodPrice | currency }}원</div>
        <div class="manufacturingdate">제조일자 : {{ foodManufacturingDate }}</div>

        <div><nuxt-link :to="'/vp/products/' + id">자세히 보기</nuxt-link></div>
    </div>


</template>

<script>
export default {
    props: {
        id: {
            type: Number,
            required: true
        },
        photoName: {
            type: String,
            required: true
        },
        foodName: {
            type: String,
            required: true
        },
        foodPrice: {
            type: Number,
            required: false,
            default: 0
        },
        foodManufacturingDate: {
            type: String,
            required: true
        }
    }

}
</script>

