<template>
    <div>
        <div class="promotionBanner">
            <a href="#none" class="bannerLink">
                <img src="https://m.japack.co.kr/web/upload/category/mobile/shop1_103_top_994997.jpg" alt="배너 내용을 적어주세요." /><!-- 원하는 배너 이미지로 변경 -->
            </a>
            <a href="#none" class="btnClose"><img src="http://sdsupport.cafe24.com/img/guide/tip/btn_close.png" alt="배너 닫기" /></a>
        </div>
        <h1 STYLE="font-size: 25px">Copang List</h1>
        <section>
            <list-food-info
                v-for="(item, index) in foods"
                v-bind:key="index"
                v-bind:id="item.id"
                v-bind:photo-name="item.photoName"
                v-bind:food-name="item.foodName"
                v-bind:food-price="item.foodPrice"
                v-bind:food-manufacturing-date="item.foodManufacturingDate"
            />
        </section>

    </div>

</template>

<script>
export default {
    data() {
        return {
            foods: [
                {
                    id: 10,
                    photoName : '/images/copang1.jpg',
                    foodName : '맥주',
                    foodPrice : 100000,
                    foodManufacturingDate : '2023-01-01'
                },
                {
                    id: 11,
                    photoName : '/images/copang2.jpg',
                    foodName : '삿포로 맥주',
                    foodPrice : 110000,
                    foodManufacturingDate : '2023-01-02'
                },
                {
                    id: 12,
                    photoName : '/images/copang3.jpg',
                    foodName : '라멘',
                    foodPrice : 120000,
                    foodManufacturingDate : '2023-01-03'
                },
                {
                    id: 13,
                    photoName : '/images/copang4.jpg',
                    foodName : '사과',
                    foodPrice : 130000,
                    foodManufacturingDate : '2023-01-04'
                },
                {
                    id: 14,
                    photoName : '/images/copang5.jpg',
                    foodName : '배',
                    foodPrice : 140000,
                    foodManufacturingDate : '2023-01-05'
                }
            ]
        }
    }

}
</script>
